<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="in.com.spring_DI"/>
    
    <bean id="vehicle" class="in.com.spring_DI.car"/>
    
    <bean id="tyre" class="in.com.spring_DI.Tyres">
        <!-- Uncomment the appropriate line below -->
        <!-- <property name="brand" value="CRF" /> -->
        <!-- <constructor-arg value="CRF" /> -->
    </bean>

</beans>
